*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100vw;
    height: 3rem;
    background-color: #10002B;
}
h1{
    color: white;
}
p{
    color: white;
}
.container{
    padding: 50px;
    background-color: #10002B;
    height: 600px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.left-text{
    
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gallery{
    margin-left: 100px;
    height:400px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
}
.photos{
    background-size: cover;
}
.box{
    border: 1px solid black;
    height: 100%;
    
    background-blend-mode: hard-light;
}
.box:hover{
    background-color: #222;
}
.box1{
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(./imgs/mountain.jpg);
    background-size: cover;
    background-position: left;
}
.box2{
    background-image: url(./imgs/milkyway.jpg);
    background-size: cover;
    background-position: left;
}
.box3{
    background-image: url(./imgs/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg);
    background-size: cover;
    background-position: left;
}
.box4{
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url(./imgs/img-2.jpg);
    background-size: cover;
    background-position: left;
    background-position-y: 21rem;
}
.box5{
    background-image: url(./imgs/img-5.jpg);
    background-size: cover;
    background-position: left;
}
.box6{
    background-image: url(./imgs/IMG20240302210812.jpg);
    background-size: cover;
    background-position: left;
}
.box7{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(./imgs/beach.jpg);
    background-size: cover;
}
.box8{
    grid-column-start:1;
    grid-column-end: 3;
    background-image: url(./imgs/img-1.jpg);
    background-size: cover;
    background-position: left;
    background-position-y: 27rem;
}